<html>
    <meta charset="UTF-8">
    <title>Visual Adventure Catalog</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" type="text/css">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='favicon.ico') }}">
    <body>
        <div id = "homer">
            <a href = "/">Home</a>
        </div>
        <br>
        <div align = "center">
        	<h2>Behold our Catalog of Visual Novels</h2>
            <br>
            <ul style="list-style-type: none;"> 
            <!-- For loop logic of jinja template -->
            {%for i in range(0, length)%} 
                <li style="list-style-type: none;">
                    <a class = "buttoner" href =  "{{ ids[i] ~ "/1" }}">{{titles[i]}} by {{ authors[i] }}</a><br><br><br>
                </li> 
            {%endfor%} 
              
            </ul> 
        </div>
    </body>

</html>