<html>
<meta charset="UTF-8">

<title>Your Visual Adventure</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}" type="text/css">

    <link rel="icon" type="image/png" href="{{ url_for('static',filename='favicon.ico') }}">

    <body>
        <div id = "homer">
            <a href = "/">Home</a>
        </div>
        <div id = "output" align = "center">
            <h3>Story created successfully. Checkout the catalog to try it out!</h3>

            <a href = "/catalog">See the Catalog</a>
        </div>
    </body>
</html>